.divcontent{
    position: absolute;
width: 1002px;
height: 276px;
left: 219px;
top: 173px;
}

.divcontentpara{
    position: absolute;
width: 1002px;
height: 348px;
left: 219px;
top: 531px;

}

.div-social{
    position: absolute;
width: 1002px;
height: 64px;
left: 215px;
top: 850px;
}
.div-footer-chef{
    position: absolute;
    width: 100%;
    height: 64px;
    top: 900px;
}

.name{
    margin-left: 620px;
}