.Appdiv {
  display: flex;
  height: 100%;
}
.filler{
  height: 40px;
}

.sidebar {
  height: 90%;
  width: 200px;
  border-right: 1px solid #eaeaea;
  margin: 50px 0px;
  padding-left: 30px;
}
.sidebar__title {
  color: #d4a817;
  font-size: 2em;
  margin: 0;
}

.div-footer-recipe{
  position: absolute;
  width: 100%;
  height: 64px;
  top: 900px;
}